div {
  /*border: 1px solid black;*/
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(255, 252, 222);
  text-align: center;
  font-weight: bold;
  font-size: 65px;
  opacity: 0.9;
  font-family: 'Norican', cursive;
  line-height: 0;
}

h2 {
  color: #DA8A32;
  text-align: center;
  font-weight: lighter;
  font-size: 50px;
  font-family: 'Great Vibes', cursive;
  line-height: 0;
}

h2.haveABrunch {
  font-size: 35px;
  color: #f2b565;
}

h3 {
  color: rgb(255, 252, 222);
  text-align: center;
  font-weight: lighter;
  font-size: 35px;
  opacity: 0.8;
  font-family: 'Norican', cursive;
  margin-top: 200px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1;
}

p {
  font-family: 'Overlock', serif;
  font-size: 25px;
  color: #493723;
  line-height: 1.7;
  text-align: justify;
  text-align: center;
  margin: 0px 50px;
}

p.txtDivLarge {
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
  text-align: center;
  color: #825337;
}

p#decouvrezMenu {
  font-size: 45px;
}

p.jeBrunch {
  font-family: 'Norican', cursive;
  font-size: 40px;
}

span {
  color: #FE8468;
}

nav {
  height: 50px;
  width: 100%;
  margin-bottom: 200px;
  /*border: 1px solid white;*/
  }

ul {
  list-style: none;
  float: right;
  margin-right: 40px;
}

li {
  display: inline-block;
  padding-right: 100px;
}

a, li a {
  font-family: 'Overlock', serif;
  color: rgb(247, 235, 210);
  font-size: 18px;
  text-decoration: none;
  line-height: 0;
}

a#lienHome {
  font-family: 'Norican', serif;
  font-size: 27px;
  margin-right: 180px;
  margin-left: 30px;
  line-height: 2;
  /*border: 1px solid blue;*/
}

a:hover {
  color: #f2b565;
}

#landing {
  width: 100%;
  background-image: url(images/land2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  margin-top: 0;
}

#weBrunch {
  width: 350px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  padding-bottom: 5px;
}

#haveABrunch {
  width: 500px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 1px solid white;
}

#venezBruncher {
  padding: 80px;
}

#savoureux {
  height: 400px;
  /*margin-bottom: 50px;*/
}

#imgSavoureux {
  height: 100%;
  width: 100%;
}


#degustez {
  margin-top: 150px;
}

#boissons {
  height: 405px;
  background-color: #f6f6f6;
  /*margin-bottom: 50px;*/
}

#sirotez {
  margin-top: 150px;
  color: #2ca1c1;
}

#patisseries {
  height: 405px;
}

#succombez {
  margin-top: 150px;
  color: #E73A69;
}

#decouvrez {
  background-color: #f6f6f6;
  padding-bottom: 150px;
}

#decouvrez>.divLarge {
  padding-top: 70px;
  padding-bottom: 40px;
}

#sucres {
  background-image: url(images/8.jpg);
}

#sales {
  background-image: url(images/2.jpg);
}

#chaudes {
  background-image: url(images/bChaude.jpg);
}

#froides {
  background-image: url(images/bFroide.jpg);
}

#menu {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 0;
  height: 500px;
}

#imgJeBrunch {
  height: 100%;
  width: 100%;
}

#jeBrunch {
  padding: 130px 0;
}

.imgMenu {
  height: 500px;
  width: 150px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  display: inline-block;
  margin-right: 20px;
}

.imgMenu:hover {
  opacity: 0.6;
}

.divLarge {
  padding: 50px;
  background-color: #f6f6f6;
}

.littleLeft {
  height: 100%;
  width: 40%;
  display: inline-block;
  float: left;
}

.littleRight {
  height: 100%;
  width: 40%;
  display: inline-block;
  float: right;
}

.bigRight {
  height: 100%;
  width: 59%;
  display: inline-block;
  float: right;
}

.bigLeft {
  height: 100%;
  width: 59%;
  display: inline-block;
  float: left;
}

.cocktail {
  height: 100%;
  width: 250px;
  margin-left: 7px;
  margin-right: 7px;
}

.patisserie {
  height: 100%;
  width: 100%;
  margin-right: 17px;
}
